config.*
syslog
syslog.CRASH
.DS_Store

*.plist

bin/plrconv-20b1-to-20b2.dSYM/Contents/Resources/DWARF/plrconv-20b1-to-20b2

bin/plrconv-20b2-to-20b3.dSYM/Contents/Resources/DWARF/plrconv-20b2-to-20b3

bin/cryptpasswd.dSYM/Contents/Resources/DWARF/cryptpasswd
